{% extends 'index.html' %}

{% block titulo %}
    Lista editoras
{% endblock %}


{% block principal %}
<div class="content-inner">
    <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'principal_url' %}">Home</a></li>
            <li class="breadcrumb-item active">Editoras</li>
        </ul>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}    
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
            </div>
        {% endfor %}
    {% endif %}

    <section class="tables">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 centraliza">
                    <div class="card">
                        <div class="card-close">
                            <div class="dropdown">
                                <a class="btn btn-light btn-sm" href="{% url 'cadastra_editora_url' %}"
                                   data-toggle="tooltip" data-placement="top" title="Cadastrar editora">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center bg-dark text-light">
                            <h3 class="h4">Editoras</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="text-center">
                                            <th>#</th>
                                            <th>Editora</th>
                                            <th>Razão social</th>
                                            <th>Página web</th>
                                            <th>Itens</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for editora in editoras %}
                                            <tr class="text-center">
                                                <td>{{ forloop.counter }}</td>
                                                <td class="text-left">{{ editora.editora }}</td>
                                                <td class="text-left">{{ editora.razao_social }}</td>
                                                <td class="text-left">
                                                    <a href="{{ editora.pagina }}" target="_blank">
                                                        {{ editora.pagina }}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-dark btn-sm" href="#"
                                                       data-toggle="tooltip" data-placement="top" title="Edita editora">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

