{% extends 'index.html' %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block titulo %}
    Cadastra membro
{% endblock %}

{% block principal %}
<div class="content-inner">
    <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'principal_url' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'lista_casas_url' %}">Casas</a></li>
            <li class="breadcrumb-item"><a href="{% url 'lista_membros_url' casa.id_casa %}">Membros</a></li>
            <li class="breadcrumb-item active">Cadastra</li>
        </ul>
    </div>
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 centraliza">
                    <div class="card">
                        <div class="card-header d-flex align-items-center bg-dark text-light">
                            <h3 class="h4">Casa {{ casa.nome_casa }} - Cadastra membro</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 form-control-label" for="{{ formulario.id_personagem.id_for_label }}">Personagem</label>
                                    <div class="col-sm-10">
                                        {{ formulario.id_personagem|attr:"class:form-control"|attr:"autofocus"|attr:"required" }}
                                        <input type="hidden" name="id_casa" value="{{ casa.id_casa }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 form-control-label" for="{{ formulario.papel_casa.id_for_label }}">Papel</label>
                                    <div class="col-sm-10">
                                        {{ formulario.papel_casa|attr:"class:form-control"|attr:"required"}}
                                    </div>
                                </div>

                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                  <button class="btn btn-danger me-md-2" type="reset">Cancelar</button>
                                  <button class="btn btn-primary" type="submit">Cadastrar</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}