{% extends 'base.html' %}

{% block titulo %} Game of Thrones {% endblock %}

{% block cabecalho %}
    <header class="header">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand mb-0 h1">As crônicas de gelo e fogo</span>
                </div>
                <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                    <li class="nav-item">
                        <a href="{% url 'logout_url' %}" class="nav-link logout">
                            <span class="d-none d-sm-inline">Sair</span><i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

{% block sidebar %}
    <nav class="side-navbar">
        <div class="sidebar-header d-flex align-items-center">
            <div class="title">
                <h1 class="h4">{{ user.first_name }} {{ user.last_name }}</h1>
            </div>
        </div>

        <ul class="list-unstyled">
            <li>
                <a href="#dropdown_orcamento" aria-expanded="false" data-toggle="collapse">
                    <i class="fa fa-book" aria-hidden="true"></i>Livros
                </a>
                <ul id="dropdown_orcamento" class="collapse list-unstyled ">
                    <li><a href="{% url 'lista_editoras_url' %}">Editoras</a></li>
                    <li><a href="{% url 'lista_autores_url' %}">Autores</a></li>
                    <li><a href="#">Livros</a></li>
                </ul>
            </li><!--Livros-->
            <li>
                <a href="{% url 'lista_casas_url' %}">
                    <i class="fa fa-home" aria-hidden="true"></i>Casas
                </a>
            </li><!--Casas-->
            <li>
                <a href="{% url 'lista_personagens_url' %}">
                    <i class="fa fa-address-book" aria-hidden="true"></i>Personagens
                </a>
            </li><!--Personagens-->
            <li><a href="charts.html"> <i class="fa fa-money"></i>Contas</a></li>
            <li><a href="#dropdown_investimentos" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-bank"></i>Investimentos</a>
                <ul id="dropdown_investimentos" class="collapse list-unstyled ">
                    <li><a href="#">Renda fixa</a></li>
                    <li><a href="#">Renda variável</a></li>
                </ul>
            </li>
            <li><a href="forms.html"> <i class="icon-home"></i>Bens </a></li>
        </ul>
    </nav>
{% endblock %}

{% block principal %}

{% endblock %}

{% block rodape %}
    <footer class="footer">
        <div class="rodape">
            <span class="text-muted">Desenvolvido por Daniell Pontes</span>
        </div>
    </footer>
    <!--
        Cor roxa padrão do template: #343A40
    -->
{% endblock %}